<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Car Rent</a>
        <div>
            <a class="text-white me-3" href="#">Home</a>
            <a class="text-white me-3" href="#">Cars</a>
            <% if(!locals.user) { %>
                <a class="text-white" href="/auth/login">Login</a>
                <a class="text-white" href="/auth/register">Register</a>
            <% } else { %>
                <a class="text-white" href="/auth/logout">Logout</a>
            <% } %>
        </div>
    </div>
    </nav>