<div class="sidebar">
        <h3>Admin Dashboard</h3>
        <ul class="nav flex-column">

        <li class="nav-item mb-2">

            <a href="/admin/dashboard"
               class="nav-link text-white">

                Dashboard

            </a>

        </li>

        <li class="nav-item mb-2">

            <a href="/admin/manage-cars"
               class="nav-link text-white">

                Quản lý xe

            </a>

        </li>
        <li class="nav-item mb-2">

            <a href="/admin/manage-rentals"
               class="nav-link text-white">

                Quản lý đơn thuê

            </a>

        </li>
            <li class="nav-item mb-2">
    
                <a href="/admin/users"
                class="nav-link text-white">
    
                    Quản lý người dùng
    
                </a>
    </ul>
    </div>

