<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng kí</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6F" crossorigin="anonymous">
    <style>
        body{
                background:#f5f6f8;
    
                min-height:100vh;
    
                display:flex;
                justify-content:center;
                align-items:center;
            }
        .login-box{
                width:400px;
    
                background:white;
    
                padding:30px;
    
                border-radius:12px;
    
                box-shadow:0 2px 10px rgba(0,0,0,0.1);
            }
    </style>
</head>
<body>
    <div class="login-box">
        <h2>Đăng kí</h2>
        <form action="/auth/register" method="post">
            <div class="mb-3">
                <label class="form-label" for="user_email">Email</label>
                <input class="form-control" 
                type="email" 
                id="user_email" 
                name="user_email"
                placeholder="Nhập email" 
                required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="user_password">Mật khẩu</label>
                <input class="form-control" 
                type="password" 
                id="user_password" 
                name="user_password" 
                placeholder="Nhập mật khẩu" 
                required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="user_confirm_password">Xác nhận mật khẩu</label>
                <input class="form-control" 
                type="password" 
                id="user_confirm_password" 
                name="user_confirm_password" 
                placeholder="Xác nhận mật khẩu" 
                required>
            </div>
            <button type="submit" class="btn btn-primary">Đăng kí</button>
        </form>
    </div>
</body>
</html>